In [1]:
import pandas as pd
import numpy as np

In [2]:
def readSheet(year):
    dfCounty = pd.read_excel("2007-2021-HIC-Counts-by-CoC.xls", sheet_name = str(year), header = 1)
    dfCounty = dfCounty.dropna()
    OH = dfCounty.loc[dfCounty['CoC Number'].str.contains('OH')]
    res = OH[['CoC Number', 'Total Year-Round Beds (ES, TH, SH)', 'Total Year-Round Beds (ES)']].copy()
    return res

In [3]:
ex = readSheet(2021)
ex.sort_values(by='Total Year-Round Beds (ES, TH, SH)', ascending = True)

    CoC Number  Total Year-Round Beds (ES, TH, SH)  Total Year-Round Beds (ES)
285     OH-504                                 198                         187
289     OH-508                                 256                         233
282     OH-501                                 485                         418
287     OH-506                                 518                         283
286     OH-505                                 591                         474
281     OH-500                                 955                         662
283     OH-502                                1194                        1045
284     OH-503                                1457                        1247
288     OH-507                                3267                        2420

In [4]:
def names(year):
    dfCounty = pd.read_excel("2007-2021-PIT-Counts-by-CoC.xlsx", sheet_name = str(year))
    dfCounty = dfCounty.dropna()
    OH = dfCounty.loc[dfCounty['CoC Number'].str.contains('OH')]
    OH = OH.loc[OH['CoC Name'] != 'Ohio Balance of State']
    resOH = OH[['CoC Name', 'CoC Number']]
    return resOH   

ex2 = names(2021)
ex2

                                         CoC Name CoC Number
281                Cincinnati/Hamilton County CoC     OH-500
282                       Toledo/Lucas County CoC     OH-501
283                 Cleveland/Cuyahoga County CoC     OH-502
284                  Columbus/Franklin County CoC     OH-503
285                Youngstown/Mahoning County CoC     OH-504
286       Dayton, Kettering/Montgomery County CoC     OH-505
287            Akron, Barberton/Summit County CoC     OH-506
288                     Ohio Balance of State CoC     OH-507
289  Canton, Massillon, Alliance/Stark County CoC     OH-508

In [5]:
cols = ['CoC Number', 'CoC Name']
ex2 = ex2.merge(ex, how='left')
# ex2 = ex2.sort_values(by='Total Year-Round Beds (ES, TH, SH)', ascending = True)

In [6]:
ex2

,CoC Name,CoC Number,"Total Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES)
0,Cincinnati/Hamilton County CoC,OH-500,955,662
1,Toledo/Lucas County CoC,OH-501,485,418
2,Cleveland/Cuyahoga County CoC,OH-502,1194,1045
3,Columbus/Franklin County CoC,OH-503,1457,1247
4,Youngstown/Mahoning County CoC,OH-504,198,187
5,"Dayton, Kettering/Montgomery County CoC",OH-505,591,474
6,"Akron, Barberton/Summit County CoC",OH-506,518,283
7,Ohio Balance of State CoC,OH-507,3267,2420
8,"Canton, Massillon, Alliance/Stark County CoC",OH-508,256,233

In [7]:
ex2.to_csv("BedsOrdered.csv",index = False, header = True)